.heatmap-container{
   width: 100%;
   height: 100%;
}

#map {
   height: auto; /* Adjust the height as needed */
   width: auto;  /* Adjust the width as needed */
   display: block;
   padding: 25%;
   padding-bottom: 27%;
   margin: 0%;
}