html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url('http://localhost/EasyParkTM/assets/pozica_fundal.jpeg');
  z-index: -1;
}
